<!DOCTYPE html>
<html lang="en">

<head>
    <title>Medición actual</title>
</head>

<body>
    <table style="margin-left:auto;margin-right:auto;font-size:30px">
        <!-- Table headers -->
            <th align=center>
                <tr style="color: green; ">
                <td align=center>pH</td>
                <td align=center>Temperatura</td>
                <td align=center>Humedad</td>
                <td align=center>Fecha</td>
        </tr>
    </th>
    <!-- table rows -->
<tr>
    <td align=center> {{ph}}</td>
    <td align=center> {{temp}} </td>
    <td align=center> {{hum}} </td>
    <td align=center> {{date}} </td>
</tr>

</table>
</body>

</html>